* {
    margin: 0;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #05002e;
    background: linear-gradient(0deg, rgba(10, 0, 89, 1) 0%, rgba(5, 0, 46, 1) 100%);
    color: rgb(255, 255, 255);
}

header {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.header-menu {
    display: none;
}

nav {
    text-align: end;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    font-family: Roboto, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 15px;
}

nav li a {
    color: white;
    text-decoration: none;
    transition: 0.5s all;
}

nav li a:hover {
    color: red;
}

.btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all;
    text-decoration: none;
}

.btn:hover {
    color: white;
    background-color: brown;
}

footer {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 30px 0;
}

footer p {
    margin: 30px;
}

footer a {
    color: #ccc;
    font-size: 1.5em;
    margin: 20px;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

main {
    width: 1000px;
    margin: auto;
}

h1 {
    margin: 30px;
    font-size: 42px;
    text-align: center;
}

h2 {
    text-align: center;
}

.barra {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 50px auto 0;
    width: fit-content;
}

p {
    font-size: 20px;
    line-height: 30px;
    margin: 30px;
    text-align: center;
}
@media (min-width: 1000px) {
    .header {
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
    }
    .header {
        .header-menu {
            display: none;
        }

        .header-nav {
            display: block;
            float: right;
            border: 0;
        }
    }
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
    margin-top: 100px;
    margin-bottom: 200px;
}