* {
    margin: 0;
}

header {
    background-color: black;
    padding: 10x;
}

nav {
   text-align: end;


 ul {
    list-style: none;
}

li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 15px;
}

 li a {
    color: white;
    text-decoration: none;
    transition: 0.5s all;
}

 li a:hover {
    color: red;
}
}

.btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all;
}

.btn:hover {
    color: white;
    background-color: brown;
}

